/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Main header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation menu */
nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #eef2f5;
    background-color: transparent;
    text-decoration: none;
}

/* Hero section */
#intro {
    background-color: #7e8ae1;
    padding: 20px;
}

/* About section */
#about {
    background-color: #9be6b9;
    padding: 20px;
}

/* Portfolio section */
#recents {
    background-color: #7e8ae1;
    padding: 20px;
}

#recents ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#recents ul li {
    flex-basis: calc(25% - 40px);
    margin: 20px;
    text-align: center;
}

#recents ul li img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 200px;
}

/* Contact section */
#contact {
    background-color: #9be6b9;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.mybutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}
