/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Main header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Navigation menu */
nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #eef2f5;
    background-color: transparent;
    text-decoration: none;
}

.flexc {
    display: flex;
    border: 2px solid green;
    height: 100px;
    /* overflow: scroll; */
    justify-content: center;
    /* justify-content: flex-start;
    justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-end; */
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.flexi {
    background-color: rgb(37, 226, 226);
    border: 2px solid black;
    margin: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.item1 {
    order: 1; /*arranging items suing order. item with smaller order will apper at the beginning*/
    align-self:center;
    background-color: #1cdf43;
}

.item2 {
    order: 3;
    flex-shrink: 1; /*used in respondive mode. this item will shrink the most*/
    align-self: center;
    background-color: #1cdf43;
}

.item3 {
    order: 4;
    flex-grow: 1;
    align-self: center;
}

.item4 {
    order: 2;
    flex-grow: 1;
    align-self: center;
}

/* Hero section */
#intro {
    background-color: #7e8ae1;
    padding: 20px;
}

/* About section */
#about {
    background-color: #9be6b9;
    padding: 20px;
}
.gparent {
    background-image:url(bgg.JPG);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.parentt {
    background-image:url(IMGA.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    border: 2px solid black;
    transition: transform 1s;
}
.parentt:hover {
    transform: rotate3d(5,7,3,360deg)
}
.patentt.bird img{
    object-fit: cover;
    border-radius: 20% 20%;
    background-color: rgb(42, 161, 225);
    border: 2px solid rgb(200, 42, 31);
    max-width: 300px;
    max-height: 300px;
}
.parentf {
    background-image:url(IMGC.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    border: 2px solid black;
    transition: transform 2s;
}
.parentf:hover {
    transform: rotate(720deg)
}
.parentf.bird img{
    object-fit: contain;
    border-radius: 20% 20%;
    background-color: rgb(43, 163, 228);
    border: 2px solid rgb(200, 42, 31);
    max-width: 300px;
    max-height: 300px;
}
.parenty {
    background-image:url(IMGA.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    border: 2px solid black;
    transition: transform 1s;
}
.parenty:hover {
    transform: rotate3d(10,3,3,360deg)
}
.bird img{
    object-fit: cover;
    border-radius: 20% 20%;
    background-color: rgb(42, 161, 225);
    border: 2px solid rgb(200, 42, 31);
    max-width: 300px;
    max-height: 300px;
}
/* Portfolio section */
#recents {
    background-color: #7e8ae1;
    padding: 20px;
}

#recents ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#recents ul li {
    flex-basis: calc(25% - 40px);
    margin: 20px;
    text-align: center;
}

#recents ul li img {
    width: 100%;
    max-height: 200px;
    overflow: scroll;
    object-fit: cover;
    border-radius: 200px;
    margin: 30px;

}

.apps {
    display: flex;
    background-color: #fefefe;
    text-align: center;
    padding: 5px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
    

}
.buttonT  {
    background-color: #fefefe; 
    border: none;
    padding-right: 5%;
}
.buttonT img {
    background-color: #ffffff; 
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.buttonF  {
    background-color: #fefefe; 
    border: none;
    padding-right: 3%;

}
.buttonF img {
    background-color: #fefefe; 
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.buttonY  {
    background-color: #fefefe; 
    border: none;
    padding-right: 3%;

}
.buttonY img {
    background-color: #fefefe; 
    width: 70px;
    max-height: 100px;
    object-fit: contain;
    padding-bottom: 10px;
}

.mail {
    text-align: center;
    background-color: #e5e886;
    padding: 10px;
}

/* Contact section */
#contact {
    background-color: #9be6b9;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
select {
    margin-bottom: 10px;
    max-width: 400px;
}

input,
select {
    padding: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.mybutton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.poem li {
    text-align: center;
    padding: 10px;
    background-color: #c38f8f;
} 

.git {
    padding: 5px;
    text-align: center;
    background-color: #73d3e3;
}
.git img {
    object-fit: contain;
    padding: 5px;
    width: 60px;
    max-height: 50px;
    text-align: center;
    background-color: #73d3e3;
}

/* Footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}
