/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li,
label {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    position: relative;
    top: 80px;
    scroll-behavior:smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Main header */
header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Navigation menu */
nav {
    background-color: #555;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    transition: transform 0.5s;
}
nav ul li:hover{
    transform: scale(1.5,1.5);
    
}

nav ul li a {
    color: #eef2f5;
    background-color: transparent;
    text-decoration: none;
}

.flexc {
    display: flex;
    border: 5px solid rgb(241, 125, 10);
    height: 100px;
    /* overflow: scroll; */
    justify-content: center;
    /* justify-content: flex-start;
    justify-content: flex-end; */
    justify-content: space-between;
    align-items: center;
    /* align-items: flex-end; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    background: radial-gradient(rgb(166, 255, 0) 40%, rgb(57, 61, 57) 40%, rgb(80, 85, 80) 50%, white 50%);
    background-size: 20px 20px;
}

.flexi {
    background-color: rgb(37, 226, 226);
    border: 2px solid black;
    margin: 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.item1 {
    order: 1; /*arranging items suing order. item with smaller order will apper at the beginning*/
    align-self:center;
    background: linear-gradient(0.333turn, rgb(255, 255, 255), rgb(20, 215, 59));
}

.item2 {
    order: 3;
    flex-shrink: 1; /*used in respondive mode. this item will shrink the most*/
    align-self: center;
    background: linear-gradient(0.333turn, rgb(250, 250, 250), rgb(20, 215, 59));
}

.item3 {
    order: 4;
    flex-grow: 1;
    align-self: center;
    background: linear-gradient(45deg, blue, rgb(107, 107, 181), rgb(235, 119, 119), red);
}

.item4 {
    order: 2;
    flex-grow: 1;
    align-self: center;
    background: linear-gradient(45deg, blue, rgb(107, 107, 181), rgb(235, 119, 119), red);
}

/* Hero section */
#intro {
    background: linear-gradient(to right, rgb(225, 92, 92), rgb(44, 127, 142), rgb(22, 235, 22), white ,rgb(136, 132, 132));
    padding: 20px;
    transition: transform 1s;
    text-align: center;
}
#intro:hover{
    transform: scale(1.1,1.1);
}
/* About section */
#about {
    background: linear-gradient(to right, rgb(249, 228, 0), rgb(221, 17, 146), rgb(22, 228, 235), rgb(250, 241, 183) ,rgb(52, 223, 132));
    padding: 20px;
    transition: transform 1s;
    text-align: center;
}
#about:hover{
    transform: scale(1.1,1.1);
}
.gparent {
    background-image:url(bggi.JPG);
    background-repeat: repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    
}

.parentt {
    background-image:url(IMGA.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    transition: transform 1s;
}
.parentt:hover {
    transform: scale(-1,-1) rotate(180deg);

}
.patentt.bird img{
    object-fit: cover;
    border-radius: 20% 20%;
    background-color: rgb(42, 161, 225);
    max-width: 300px;
    max-height: 300px;
}
.parentf {
    background-image:url(IMGC.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    transition: transform 2s;
}
.parentf:hover {
    transform: rotate(720deg)
}
.parentf.bird img{
    object-fit: contain;
    border-radius: 20% 20%;
    background-color: rgb(43, 163, 228);
    max-width: 300px;
    max-height: 300px;
}
.parenty {
    perspective: 200px;
    background-image:url(IMGA.JPG);
    border-radius: 20% 20%;
    display: flex;
    width: 400px;
    height: 350px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    object-fit: contain;
    overflow: visible;
    transition: transform  1s;
}
.parenty:hover {
    transform: scale3D(30, 20, 1) 
}
.bird img{
    object-fit: cover;
    border-radius: 20% 20%;
    background-color: rgb(42, 161, 225);
    max-width: 300px;
    max-height: 300px;
}
/* Portfolio section */
#recents {
    background-image: url(space.jpeg);
    padding: 20px;
}

#recents ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#recents ul li {
    flex-basis: calc(25% - 40px);
    margin: 20px;
    text-align: center;
    transition: transform 1s;
}
#recents ul li:hover{
    transform: scale(1.2,1.2);
}
#recents ul li img {
    width: 100%;
    max-height: 200px;
    overflow: scroll;
    object-fit: cover;
    border-radius: 200px;
    margin: 30px;
}
#recents p, #recents h3 {
    padding-left: 5rem;
}


.apps {
    display: flex;
    background-color: white;
    text-align: center;
    padding: 7px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    justify-content: center;
    justify-content: space-evenly;
    

}
.buttonT  {
    background-color: #ffffff; 
    border: none;
    width:100px;
    border-radius: 100%;
    
}
.buttonT img {
    background-color: #ffffff; 
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.buttonF  {
    background-color: #ffffff; 
    border: none;
    width:100px;
    
}
.buttonF img {
    background-color: #fefefe; 
    width: 50px;
    max-height: 50px;
    object-fit: contain;
}

.buttonY  {
    background-color: #ffffff; 
    border: none;
    width: 100px;

}
.buttonY img {
    background-color: none; 
    width: 50px;
    max-height: 90px;
    object-fit: contain;
    padding-bottom:5px;
}

.mail {
    text-align: center;
    background-color: #232121;
    padding: 10px;
    
}
.mail a {
    text-decoration: none;

}
.poem a {
    text-decoration: none;

}
.mail .text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    color: #e9efec;
    background-color: rgb(80, 77, 77);
    width: 200px;
    height:50px;
    border-radius: 100%;
    transition: transform 1s;

}

.text:hover {
    transform: scale3D(1.3,1.3,3);
}

/* Contact section */
#contact {
    background-image: url(space.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
select {
    margin-bottom: 10px;
    max-width: 400px;
}

input,
select {
    padding: 10px;
}

label {
    transition: transform  1s;
}
label:hover {
    transform: scale(1.1,1.1);
}

.mybutton {
    padding: 10px 20px;
    background-color: #4292e8;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 1s;
    border-radius: 6px;
}
.mybutton:hover{
    transform: scale(1.2,1.2);
    background-color: #0b62f0;
}

.bars {
    display: flex;
    background-image: url(bgi.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 400px;
}
.bar {
    border-radius: 15%;
    margin-right: 10px;
    border: 2px ;
    background-color: #f6f1ea;
    width: 80px;
    height: 80px;
    max-height: 400px;
    transition: transform 2s,height 1s;
}

.bar:hover {
    height: 300px;
    transform: rotate(360deg);
}

.a {
    background-image: url(twitterl.png);
    background-size: contain;
    transition-timing-function: linear;
}
.b {
    background-image: url(facebookl.png);
    background-size: contain;
    transition-timing-function: ease;
}
.c {
    background-image: url(youtubel.png);
    background-size:contain;
    transition-timing-function: ease-in;
}
.d {
    background-image: url(githubl.png);
    background-size: contain;
    transition-timing-function: ease-out;
}
.e {
    background-image: url(notion.png);
    background-size: contain;
    transition-timing-function: ease-in-out;
}


 .Ttooltip, .Ftooltip, .Ytooltip, .Gtooltip, .Ntooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px ;
    
    
}
.a:hover .Ttooltip {
    visibility: visible;
}
.b:hover .Ftooltip {
    visibility: visible;
}
.c:hover .Ytooltip {
    visibility: visible;
}
.d:hover .Gtooltip {
    visibility: visible;
}
.e:hover .Ntooltip {
    visibility: visible;
}

.buttona, .buttonb, .buttonc, .buttond, .buttone {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.poem  {
    display: flex;
    border: 3px;
    border-color: #007bff;
    padding: 10px;
    background-color: #111010;
    justify-content: center;
} 
.poem .texta{

    display: flex;
    justify-content: center;
    align-items: center;
    color: #eaf2ee;
    background-color: rgb(80, 77, 77);
    width: 150px;
    height:30px;
    border-radius: 100%;
    transition: transform 1s;

}

.texta:hover {
    transform: scale3D(1.3,1.3,3);
}

.git {
    padding: 5px;
    text-align: center;
    background-color: #73d3e3;
}
.git img {
    object-fit: contain;
    padding: 5px;
    width: 60px;
    max-height: 50px;
    text-align: center;
    background-color: #73d3e3;
}
.gitimg img , .buttonT , .buttonF , .buttonY {
    border-radius: 100%;
    transition: transform 0.5s;

}
.buttonT:hover, .buttonF:hover, .buttonY:hover{
    transform: scale(1.3,1.3);

}
.gitimg img:hover {
    transform: scale(1.3,1.3);
}

/* Footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
}
